* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Integral CF', Arial, sans-serif;
}

body {
  font-family: 'Integral CF', Arial, sans-serif;
  background: #fff;
  color: #000;
}

.app {
  min-height: 100vh;
  max-width: 1440px; /* Максимальная ширина сайта */
  margin: 0 auto; /* Центрирование */
  background: #fff;
}